## non-project stuff
.vscode/
*.pyc

## project stuff
data/
caches/db/
managers/_dynamicallyLoadedFactories/

## testing stuff
miscellaneous/
*.txt
*.dump
*.marshal
*.ods
*.ods#

## ec2 export stuff
scripts/sp-export/
scripts/sp-export.tar